.grid-container {
  display: inline-block;
}

.row {
  display: flex;
}

.cell {
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.cell.alive {
  background-color: black;
}
